@page "/newnode"
@using Org.Domains.NodeTypes
@using Org.Domains.Persons
@using Org.Domains.Nodes

@if (hasError)
{
    <div class="alert alert-danger">
        @errorMessage
    </div>
}
@if (nodeTypes is not null)
{
    <div>
        <select class="form-select" @onchange=selectionChanged>
            <option>Sélectionnez un type de noeud</option>
            @foreach (NodeType nodeType in nodeTypes)
            {
                <option value=@nodeType.Id>@nodeType.Code : @nodeType.Name</option>
            }
        </select>
    </div>

    @if (selectedType is not null)
    {
       @*  <div class="mt-5" style="font-size: 80%">
            <h3>@selectedType.Code - @selectedType.Name</h3>
            <h5>Roles</h5>
            <ul>
                @foreach (NodeRole nodeRole in selectedType.Roles)
                {
                    <li>@roleName(nodeRole.RoleId) (minn : @nodeRole.MinValue / max : @nodeRole.MaxValue)</li>
                }
            </ul>

            <h5>Sub Nodes</h5>
            <ul>
                @foreach (NodeChild nodeChild in selectedType.SubNodes)
                {
                    <li>@nodeName(nodeChild.NodeTypeId) (minn : @nodeChild.MinValue / max : @nodeChild.MaxValue)</li>
                }
            </ul>
        </div> *@
        <button type="button" class="btn btn-success" @onclick=@showCreatingNodeForm>Créer le Noeud</button>
    }

    @if (creatingNode)
    {
        <div style="max-width: 400px">
        <CreateNodeForm OnNodeCreated="handleNodeCreated"/>
        </div>
        <h3 class="margin-button">Roles</h3>

        <div class="d-flex">
            
            @if (addPersonVisible)
            {
                <EditForm Model="personToCreate" OnValidSubmit="addPersonToNode">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="d-flex flex-column" style="width: 600px">
                        <select style="width: 300px" @bind=@personToCreate.RoleId>
                            <option selected="selected">--------</option>
                            @foreach (Role role in allowedRoles)
                            {
                                <option value="@role.RoleId">@role.RoleCode - @role.RoleName</option>
                            }
                        </select>
                        <div class="form-group">
                            <label>PErson Id</label>
                            <input class="form-control" @bind=@personToCreate.PersonId readonly="readonly"/>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" @bind=@personToCreate.Nom/>
                        </div>
                        <button type="submit">Ajouter la personne</button>
                    </div>
                </EditForm>
            }
            else
            {
                <div>
                    <ul>
                        @foreach (NodePerson persone in nodeToCreate.Persons)
                        {
                            <li>@persone.PersonId / @persone.RoleId : @persone.Nom</li>
                        }
                    </ul>
                </div>
                @if (allowedRoles.Any())
                {
                    <button class="btn btn-primary" @onclick=@showAddPerson>Ajouter le role</button>
                }
                
            }
        </div>

@*         <h3 class="margin-button">SubNodes</h3>
        <div class="d-flex">
            
            @if (addPersonVisible)
            {
                <EditForm Model="nodeToCreate" OnValidSubmit="addSubNodeToNode">
                    <DataAnnotationsValidator/>
                    <ValidationSummary/>
                    <div class="d-flex flex-column" style="width: 600px">
                        <select style="width: 300px" @bind=@nodeToCreate.RoleId>
                            <option selected="selected">--------</option>
                            @foreach (Node subnodes in allowedSubNodes)
                            {
                                <option value="@node.NodeId">@node.NodeCode - @node.NodeName</option>
                            }
                        </select>
                        <div class="form-group">
                            <label>Node Id</label>
                            <input class="form-control" @bind=@nodeToCreate.PersonId readonly="readonly"/>
                        </div>

                        <div class="form-group">
                            <label>Name</label>
                            <input class="form-control" @bind=@nodeToCreate.Nome/>
                        </div>
                        <button type="submit">Ajouter la personne</button>
                    </div>
                </EditForm>
            }
            else
            {
                <div>
                    <ul>
                        @foreach (NodePerson persone in nodeToCreate.Persons)
                        {
                            <li>@persone.PersonId / @persone.RoleId : @persone.Nom</li>
                        }
                    </ul>
                </div>
                @if (allowedRoles.Any())
                {
                    <button class="btn btn-primary" @onclick=@showAddPerson>Ajouter le role</button>
                }
                
            }
        </div>

 *@



        @if (!string.IsNullOrWhiteSpace(nodeToCreate.Code) &&
             !string.IsNullOrWhiteSpace(nodeToCreate.Name) &&
             allowedRoles.Count == 0)
        {
            <button type="button" @onclick="saveNode">enregister le noeud</button>
            
        }

        <div style="margin-bottom: 100px"></div>


    }
}