@using Org.Domains.Persons
@using Org.UI.OrgTypes.NodeRoles
@using Org.Domains.NodeTypes
@rendermode InteractiveServer
<style>
table, th, td {
  border:1px solid black;
  text-align: center;
}
</style>

<div class="form-group">
    <div class="d-flex">
        <label>Code : </label>
        <input type="text" class="form-control w-25" @bind=@nodeType.Code/>
    </div> 
    <div class="d-flex">
        <label>Nom : </label>
        <input type="text" class="form-control" @bind=@nodeType.Name/>
    </div> 
    
    
    <h2 style="margin-top: 60px">Liste des roles</h2>
    <hr/>
    <ul>
        @foreach(NodeRole role in nodeRoles)
        {
            <li>@role.RoleId (Min : @role.MinValue , Max = @role.MaxValue)</li>
        }
    </ul>
    @if (addRoleFormVisible)
    {
        <div>
            <NodeRoleEdit OnRoleAdded=@addNewRole/>
        </div>
    }
    else
    {
        <button class="btn btn-sm btn-primary" @onclick=@showAddroleForm> Ajouter un Role</button>
    }
    

   
    <h2 style="margin-top: 60px">Liste des sous noeud</h2>
    <hr/>
    <ul>
    @foreach(NodeChild child in children)
    {
        <li>@child.NodeTypeId.ToString() (Min : @child.MinValue , Max = @child.MaxValue)</li>
    }
    </ul>
    
    @if (addChildFormVisible)
    {
        <div>
            <SubNodeEdit OnChildAdded=@addNewChild />
        </div>
    }
    else
    {
        <button class="btn btn-sm btn-primary" @onclick=@showAddChildForm> Ajouter un child</button>
    }
    
    
    <div class="mt-5">
        <button type="button" class="btn btn-success" @onclick=@createNode>Créer le type de Noeud</button>
    </div>
</div>
